<div class="table-pagination">

  <elastic-page-header [height]="'146px'" background="url(/assets/images/0022.jpeg)"
                       [reverse]="true"></elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Lista de Personal'" [names]="['Personal']"
                         [header]="'primary'"></elastic-breadcrumbs>

    <div class="mat-elevation-z8">

      <div class="header">
        <span class="btn-options pull-right">
          <a class="btn btn-sm btn-outline-secondary btn-icon-space"
             (click)="openModal(modal)">
            <i class="icon-user-plus"></i> Crear Nuevo Personal</a>
        </span>
      </div>

      <app-table
        [data]="data"
        [headers]="headersColumns"
        [total]="totalData"
        [pageSize]="pageSize"
        [page]="page"
        (clickPagination)="clickPagination($event)"
        (clickSort)="clickSort($event)"
        (clickButton)="clickButtonRow($event)">
      </app-table>


    </div>
  </div>
</div>


<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title">Agregar  Personal</h4>
  </div>
  <div class="modal-body">


  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal();">
      Cancelar
    </button>
    <button type="submit" class="btn btn-primary">
      Guardar
    </button>
  </div>
</ng-template>
