<div class="table-pagination">

  <elastic-page-header [height]="'146px'" background="url(/assets/images/0022.jpeg)"
                       [reverse]="true"></elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Lista de Pacientes'" [names]="['Pacientes']"
                         [header]="'primary'"></elastic-breadcrumbs>

    <div class="mat-elevation-z8">

      <div class="header">
        <span class="btn-options pull-right">
          <a class="btn btn-sm btn-outline-secondary btn-icon-space"
             (click)="openModal(modal)">
            <i class="icon-user-plus"></i> Crear Nuevo Paciente</a>
        </span>
      </div>

      <app-table
        [data]="data"
        [headers]="headersColumns"
        [total]="totalData"
        [pageSize]="pageSize"
        [page]="page"
        (clickPagination)="clickPagination($event)"
        (clickSort)="clickSort($event)"
        (clickButton)="clickButtonRow($event)">
      </app-table>

    </div>
  </div>
</div>

<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title">Crear Paciente</h4>
  </div>

  <form (ngSubmit)="submit(form)" #form="ngForm">

    <div class="row container">

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="nombres">Nombres:</label>
          <input id="nombres"
                 name="nombres"
                 type="text"
                 class="form-control"
              placeholder='Eje. Dana July...'
                 [ngModel]="actividadCivica?.nombres"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="apellidos">Apellidos:</label>
          <input id="apellidos"
                 name="apellidos"
                 type="text"
                 placeholder='Eje. Pomier Teran...'
                 class="form-control"
                 [ngModel]="actividadCivica?.apellidos"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="ci">Cedula de Identidad:</label>
          <input id="ci"
                 name="ci"
                 type="string"
                 placeholder='Eje. 64637373L.P...'
                 class="form-control"
                 [ngModel]="actividadCivica?.ci"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="direccion">Direccion:</label>
          <input id="direccion"
                 name="direccion"
                 type="string"
                 placeholder='Eje. Av.Civica El Alto...'
                 class="form-control"
                 [ngModel]="actividadCivica?.direccion"/>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="telefono">Telefono:</label>
          <input id="telefono"
                 name="telefono"
                 type="number"
                 placeholder='Eje. 7777***7...'
                 class="form-control"
                 [ngModel]="actividadCivica?.telefono"/>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="fecha_naci">Fecha de Nacimiento:</label>
          <input id="fecha_naci"
                 name="fecha_naci"
                 type="date"
                 placeholder='Eje. 20/07/94...'
                 class="form-control"
                 [ngModel]="actividadCivica?.fecha_naci"/>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="edad">Edad:</label>
          <input id="edad"
                 name="edad"
                 type="date"
                 placeholder='Eje.23...'
                 class="form-control"
                 [ngModel]="actividadCivica?.edad"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="responsable">Responsable:</label>
          <input id="responsable"
                 name="responsable"
                 type="text"
                 placeholder='Eje.Padre ...'
                 class="form-control"
                 [ngModel]="actividadCivica?.responsable"/>
        </div>
      </div>


      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="sexo">Sexo:</label>
          <br>

          <input type="radio" name="sexo" id="sexo" value="Femenino">Femenino &nbsp;
          <input type="radio" name="sexo" id="sexo" value="Masculino">Masculino
        </div>
      </div>


<br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary">
          Guardar
        </button>

    </div>

  </form>
</ng-template>
