<div class="table-pagination">

  <elastic-page-header [height]="'146px'" background="url(/assets/img/demo/headers/pattern-3.jpeg)"
                       [reverse]="true"></elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Lista de Contratos'" [names]="['Personal']"
                         [header]="'primary'"></elastic-breadcrumbs>

    <div class="mat-elevation-z8">

      <div class="header">
        <span class="btn-options pull-right">
          <a class="btn btn-sm btn-outline-secondary btn-icon-space"
             (click)="openModal(modal)">
            <i class="icon-user-plus"></i> Crear Nuevo Contrato</a>
        </span>
      </div>

      <app-table
        [data]="data"
        [headers]="headersColumns"
        [total]="totalData"
        [pageSize]="pageSize"
        [page]="page"
        (clickPagination)="clickPagination($event)"
        (clickSort)="clickSort($event)"
        (clickButton)="clickButton($event)">
      </app-table>

    </div>
  </div>
</div>




<!--formulario -->

<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title">Crear Tipo De Contrato</h4>
  </div>

  <form (ngSubmit)="submit(form)" #form="ngForm">

    <div class="row container">

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="contrato">Tipo de Contrato:</label>
          <input id="contrato"
                 name="contrato"
                 type="text"
                 class="form-control"
                 placeholder='Eje. Eventual...'
                 [ngModel]="actividadCivica?.contrato"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="sueldo">Sueldo a Pagar :</label>
          <input id="sueldo"
                 name="sueldo"
                 type="text"
                 placeholder='Eje. 2800...'
                 class="form-control"
                 [ngModel]="actividadCivica?.sueldo"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="descripcion">Descripción:</label>
          <textarea id="descripcion"
            name="descripcion"
            rows="10" cols="30"
                    type="text"
                    placeholder='Eje. Escirba las clausulas..'
                    class="form-control"
                    [ngModel]="actividadCivica?.descripcion">
          </textarea>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success">
        Guardar
      </button>

    </div>

  </form>
</ng-template>

