

<div class="login-img">
  <div class="d-none d-md-block">
    <br>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card card-success">
          <div class="card-header h2" >
            <img src="../../assets/images/csm.jpg" alt="AdminLTE Logo"
                 class="brand-image  img-circle elevation-4 text-center" style="width: 100px; height: 100px;">
            <h2>Registro</h2>
          </div>
          <div class="card-body">
            <form (ngSubmit)="login(form)" #form="ngForm">
              <div class="form-group row">
                <label for="username" class="col-sm-4 col-form-label text-md-right">E-mail Correo</label>
                <div class="col-md-6">
                  <input id="username"
                         type="email"
                         class="form-control"
                         name="username"
                         ngModel
                         required autofocus>
                  <span class="invalid-feedback">
                    <strong>sasdas</strong>
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <label for="password" class="col-md-4 col-form-label text-md-right">contraseña</label>
                <div class="col-md-6">
                  <input id="password"
                         type="password"
                         class="form-control"
                         name="password"
                         ngModel
                         required>
                  <span class="invalid-feedback">
                    <strong>Iniciar</strong>
                  </span>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 offset-md-4">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="remember">recordar
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row mb-0">
                <div class="col-md-8 offset-md-4">
                  <button type="submit" class="btn btn-success">
                    Iniciar Sesion
                  </button>
                  <a class="btn btn-link" href="/home">
                    Volver
                  </a>
                </div>
                <!-- Message Start -->
                <!-- Message End -->
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
