<div class="table-pagination">

  <elastic-page-header [height]="'146px'" background="url(/assets/img/demo/headers/pattern-3.jpeg)"
                       [reverse]="true"></elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Asignar Rol'" [names]="['Usuarios']"
                         [header]="'primary'"></elastic-breadcrumbs>

    <div class="mat-elevation-z8">

      <div class="header">
        <span class="btn-options pull-right">
          <a class="btn btn-sm btn-outline-secondary btn-icon-space"
             (click)="openModal(modal)">
            <i class="icon-user-plus"></i>Asignar Rol</a>
        </span>
      </div>

      <app-table
        [data]="estudiantes"
        [headers]="headersColumns"
        [total]="totalEstudiantes"
        [pageSize]="pageSize"
        [filtersColumns]="filtersColumns"
        [page]="page"
        (clickPagination)="clickPagination($event)"
        (clickSort)="clickSort($event)"
        (clickButton)="clickButtonRow($event)">>
      </app-table>

    </div>
  </div>
</div>


<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title">Asignar Rol</h4>
  </div>

  <form (ngSubmit)="submitEstudiante(form)" #form="ngForm">

    <div class="row container">
      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="descripcion">Descripcion</label>
          <input id="descripcion"
                 name="descripcion"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.descripcion"/>
        </div>

      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="detalle">Detalle</label>
          <input id="detalle"
                 name="detalle"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.detalle"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="fecha">Fecha</label>
          <input id="fecha"
                 name="fecha"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.fecha"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="hora">Hora</label>
          <input id="hora"
                 name="hora"
                 type="string"
                 class="form-control"
                 [ngModel]="reunion?.hora"/>

        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="lugar">Lugar</label>
          <input id="lugar"
                 name="lugar"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.lugar"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="nombre">Nombre</label>
          <input id="nombre"
                 name="nombre"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.nombre"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="ordenDia">Orden del Dia</label>
          <input id="ordenDia"
                 name="ordenDia"
                 type="text"
                 class="form-control"
                 [ngModel]="reunion?.ordenDia"/>
        </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal();">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary">
          Asignar
        </button>
      </div>

    </div>

  </form>
</ng-template>
