<h3>SUCURSALES</h3>
<div class="container-fluid no-paddings h-100 overflow-vertical">
  <ngb-tabset (tabChange)="beforeTabChange($event)" class="nav-center">
    <ngb-tab id="tab-settings" title="Datos de la Empresa">
      <ng-template ngbTabContent>
        <div *ngIf="company" class="row no-gutters">
          <div class="col-md-3 card-list text-center">
            <div class="image-profile-container">
              <img class="card-img-top" src="{{company.imageUrl || '../../../assets/logo-company.png'}}" alt="">
              <button class="btn btn-primary btn-circle" (click)="open()"><i class="mdi mdi-pencil"></i></button>
            </div>
            <p class="alert alert-info alert-sm"><i class="mdi mdi-info"></i> Tamaño de Foto recomendado<br/>150px x
              150px</p>
            <div class="card w-75">
              <div class="card-body py-2 px-0">
                <label><strong>USTED TIENE</strong></label>
                <div class="badge badge-primary badge-circle-data">{{company.maxBranches - branches.length || 0}}</div>
                <p>Sucursales Disponibles</p>
                <p>
                  <a href="http://kraken.bo#price" target="_blank" class="btn btn-sm btn-outline-success">
                    <i class="mdi mdi-cart"></i> Comprar Sucursal
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-9">
            <form *ngIf="company" class="profile-form" (ngSubmit)="save()" #companyForm="ngForm">
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Nombre de la Empresa</label>
                    <input type="text" class="form-control form-control-big" placeholder="Ejm. Vulcan"
                           required minlength="3" maxlength="100" #name="ngModel"
                           [(ngModel)]="company.name" name="name">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                         class="form-text text-danger">
                      <div *ngIf="name?.errors.required">
                        Nombre es requerido.
                      </div>
                      <div *ngIf="name?.errors.minlength">
                        El nombre debe tener al menos 3 caracteres.
                      </div>
                      <div *ngIf="name?.errors.maxlength">
                        El nombre no puede tener más de 100 caracteres.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>NIT</label>
                    <input type="text" class="form-control form-control-big"
                           readonly required
                           [(ngModel)]="company.nit" name="nit">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>Dirección Web</label>
                    <input type="text" class="form-control form-control-big" placeholder="Ej. www.kraken.bo"
                           minlength="3" maxlength="50" #webAddress="ngModel"
                           [(ngModel)]="company.webAddress" name="webAddress">
                    <div *ngIf="webAddress.invalid && (webAddress.dirty || webAddress.touched)"
                         class="form-text text-danger">
                      <!--<div *ngIf="address?.errors.required">-->
                      <!--Direccion es requerido.-->
                      <!--</div>-->
                      <div *ngIf="webAddress?.errors.minlength">
                        La dirección web debe tener al menos 3 caracteres.
                      </div>
                      <div *ngIf="webAddress?.errors.maxlength">
                        La dirección web no puede tener más de 50 caracteres.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Dirección Legal</label>
                    <input class="form-control" minlength="3" maxlength="100"
                           [(ngModel)]="company.legalAddress" name="address" required
                           placeholder="Ejm. Av. Busch" #address="ngModel">
                    <div *ngIf="address.invalid && (address.dirty || address.touched)"
                         class="form-text text-danger">
                      <div *ngIf="address?.errors.required">
                        Direccion es requerido.
                      </div>
                      <div *ngIf="address?.errors.minlength">
                        La dirección debe tener al menos 3 caracteres.
                      </div>
                      <div *ngIf="address?.errors.maxlength">
                        La dirección no puede tener más de 250 caracteres.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Persona Principal de Contacto </label>
                    <input type="text" class="form-control" placeholder="Ejm. Juan Camacho" [(ngModel)]="company.nameEmergencyContact" name="nameEmergencyContact" minlength="3" maxlength="50">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>Teléfono de Contacto</label>
                    <input type="text" class="form-control" placeholder="Ejm. 2345678" [(ngModel)]="company.phoneEmergencyContact" name="phoneEmergencyContact" minlength="3" maxlength="50">
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>Email de Contacto</label>
                    <input type="email" class="form-control" placeholder="Ejm. juan@mail.com" [(ngModel)]="company.emailEmergencyContact" name="emailEmergencyContact" minlength="3" maxlength="50">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="form-group">
                    <label>Solicitud de Email en Facturas obligatorio</label>
                    <div class="material-switch pt-2 pull-right">
                      <span class="pt-2">NO</span>
                      <input id="someSwitchOptionPrimary" name="someSwitchOption001" type="checkbox" [(ngModel)]="company.emailRequired"/>
                      <label for="someSwitchOptionPrimary" class="label-primary"></label>
                      <span class="pt-2">SI</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary">GUARDAR CAMBIOS</button>
                </div>
              </div>
            </form>

          </div>
        </div>

      </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-manage-econ-act" title="Actividad Económica">
      <ng-template ngbTabContent>
        <div class="container pt-3">
          <div class="row mb-2">
            <div class="col-md-12 text-center">
              <button type="submit" (click)="openModalCreate(content)" class="btn btn-outline-secondary btn-icon-space">
                <i class="icon-plus-circle"></i> AGREGAR ACTIVIDAD ECONÓMICA
              </button>
            </div>
          </div>
          <div class="row">
            <div class="offset-1 col-10">

              <div class="col-md-12">

                <!-- MOSTRAR SI ESTA VACIO SIN ACTIVIDADES -->
                <div *ngIf="econAct.length===0" class="assign-empty text-center">
                  <img class="logo" src="../../../assets/themes/materia/images/Activity-Empty.png"/>
                  <h5 class="mb-2">Aún no has seleccionado ninguna actividad económica</h5>
                  <p>
                    <i>Busca la actividad a la que tu empresa se dedica para poder iniciar los ciclos.</i>
                  </p>
                </div>


                <div *ngIf="econAct.length>0" class="assign-full card-list container-fluid">
                  <h6>Sus actividades económicas:</h6>
                  <div class="row">

                    <div class="col-md-6" *ngFor="let act of econAct">
                      <div class="card p-2">
                        <div class="row mb-0 no-gutters">
                          <div class="col-md-3 d-flex align-items-center justify-content-center">
                            <img *ngIf="act.type==='SERVICE'" src="../../../assets/themes/materia/images/icon-service.png" class="w-75">
                            <img *ngIf="act.type==='PRODUCT'" src="../../../assets/themes/materia/images/icon-product.png" class="w-75">
                          </div>
                          <div class="col-md-9 d-flex align-items-center">
                              <span>
                                <strong>{{act.description}}</strong>
                                <p class="m-0">{{act.type==='SERVICE' ? 'SERVICIO' : 'PRODUCTO'}} |
                                  <span class="text-success" *ngIf="act.state.id === ECONOMIC_ACTIVITY_ACTIVE">Activo</span>
                                  <span class="text-danger" *ngIf="act.state.id === ECONOMIC_ACTIVITY_LOCK">Bloqueado</span>
                                </p>
                              </span>
                          </div>
                          <div class="col-md-12 pt-1 text-right">
                            <button class="btn btn-outline-info btn-sm" (click)="openModalEdit(content,act)">
                              <i class="icon-edit-2"></i> Editar
                            </button>
                            <button class="btn btn-outline-danger btn-sm" (click)="deleteEconAct(act)">
                              <i class="icon-trash-2"></i> Borrar
                            </button>
                            <button *ngIf="act.state.id==='ECONOMIC_ACTIVITY_LOCK'" class="btn btn-outline-secondary btn-sm" (click)="unlockEconAct(act)">
                              <i class="icon-unlock"></i> Desbloquear
                            </button>
                            <button *ngIf="act.state.id!=='ECONOMIC_ACTIVITY_LOCK'" class="btn btn-outline-secondary btn-sm" (click)="lockEconAct(act)">
                              <i class="icon-lock"></i> Bloquear
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
<ng-template #content>
  <div class="modal-header">
    <h4 class="modal-title">Detalles de la Actividad Económica</h4>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group mb-3">
            <label>
              Código
            </label>
            <input name="code" class="form-control" type="text" [(ngModel)]="selectedEconAct.code" [textMask]="{mask: maskNumber}" [disabled]="isEdit"/>
            <div *ngIf="errors.codeEmpty">
              <small class="form-text text-danger">
                Debe ingresar un codigo
              </small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mb-3">
            <label>
              Código característico
            </label>
            <input name="charCode" class="form-control" type="text" [(ngModel)]="selectedEconAct.characteristicCode" [disabled]="isEdit"/>
            <div *ngIf="errors.charCodeEmpty">
              <small class="form-text text-danger">
                Debe ingresar un codigo característico.
              </small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group mb-3">
            <label>
              Tipo de actividad
            </label>
            <select class="dropdown-toggle form-control" name="type" [(ngModel)]="selectedEconAct.type">
              <option class="dropdown-item" [value]="''">Seleccionar</option>
              <option class="dropdown-item" [value]="'SERVICE'">Servicio</option>
              <option class="dropdown-item" [value]="'PRODUCT'">Producto</option>
            </select>
            <div *ngIf="errors.typeEmpty">
              <small class="form-text text-danger">
                Debe seleccionar un tipo de actividad
              </small>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group mb-3">
            <label>
              Descripción
            </label>

            <textarea class="form-control" rows="2" cols="50" [minlength]="3" [maxlength]="250" style="resize: none"
                      [(ngModel)]="selectedEconAct.description" name="address"
                      #address="ngModel">
              </textarea>
            <div *ngIf="errors.descriptionEmpty">
              <small class="form-text text-danger">
                Debe ingresar una descripción
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)="closeModal()">Cerrar</button>
    <button type="button" class="btn btn-primary" aria-label="Close" (click)="[validate() ? saveEconAct() : '']">
      Guardar
    </button>
  </div>
</ng-template>
