<div class="invoice-box document-content bg-gray">
  <h3 class="m-0 bg-white icon-space">
    <button routerLink="/" class="btn-icon icon-title" type="submit" placement="bottom">
      <i class="icon-arrow-left"></i>
    </button>
    CREAR CONSULTA
    <span class="logo-animated">
         <div class="icon-kraken" placement="bottom" ngbTooltip="Hola! Soy Kraken"></div>
         <div class="text-kraken"></div>
      </span>
  </h3>

  <div class="bg-box-card m-2">
    <div class="col-12 p-5">
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label>Fecha de Emisión</label>
            <h5 class="m-0">{{date | date:'d MMMM, y'}}</h5>
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            <label>Caja</label>
            <h5 class="m-0">{{statusBox ? 'Caja Abierta : ' + boxCurrent?.id : 'Caja Cerrada'}}</h5>
            <!--<button class="btn btn-secondary" (click)="openModal(modalCloseBox)" *ngIf="statusBox">cerrar caja</button>-->
          </div>
        </div>
        <div class="col-3"></div>
        <div class="col-3 text-right">
          <div class="pt-2">
            <button class="btn btn-secondary" (click)="openModal(modalBox)" *ngIf="!statusBox">abrir caja</button>
          </div>
          <div class="pt-2">
            <button class="btn btn-secondary" (click)="openModal(modalCloseBox)" *ngIf="statusBox">cerrar caja</button>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-3">
          <div class="form-group">
            <label>NIT/CI</label>
            <div class="input-group autocomplete" id="ngbdropdown">
              <!-- class="margin-top-minus form-control form-control-big" -->
              <input id="dropdownBasic1"
                     type="text"
                     class="form-control"
                     placeholder="5476427"
                     aria-describedby="basic-addon2"
                     name="nit"
                     maxlength="9"
                     ngControl="nit"
                     title="NIT/CI"
                     required>
            </div>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="nameToBill">Señor(es)</label>
            <input type="text"
                   id="nameToBill"
                   name="nameToBill"
                   class="form-control"
                   autocomplete="off"
                   placeholder="Ejm. Quispe"
                   maxlength="40"
                   required
                   minlength="3"
                   pattern="[A-Za-z]{3,40}">
            <!--<div *ngIf="nameToBill.invalid && (nameToBill.dirty || nameToBill.touched)"
                 class="form-text text-danger">
              <div *ngIf="nameToBill?.errors.minlength">
                El texto debe tener al menos 3 caracteres.
              </div>
              <div *ngIf="nameToBill?.errors.maxlength">
                El texto no puede tener más de 40 caracteres.
              </div>
              <div *ngIf="nameToBill.invalid">
                El texto no es valido.
              </div>
            </div>-->
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label for="email">Email</label>
            <input id="email"
                   type="email"
                   class="form-control"
                   placeholder="Ejm. juan@mail.com"
                   name="email"
                   email
                   required
                   title="Email">
            <!--<div *ngIf="email.invalid && (email.dirty || email.touched)" class="form-text text-danger">
              <div *ngIf="email?.errors.required">
                Email es requerido.
              </div>
              <div *ngIf="email?.errors.minlength">
                El email debe tener al menos 5 caracteres.
              </div>
              <div *ngIf="email?.errors.maxlength">
                El email no puede tener más de 100 caracteres.
              </div>
            </div>-->
          </div>
        </div>


        <div class="col-3">
          <div class="form-group">
            <label for="email">Actividad económica</label>
            <select class="form-control"
                    name="branchFilter"
                    [(ngModel)]="invoice.idEconomicActivity"
                    #branch="ngModel">
              <option *ngFor="let economicActivity of economicActivities" [value]="economicActivity.id">
                <small>{{economicActivity.description}}</small>
              </option>
            </select>
          </div>
        </div>


      </div>

      <div class="upload-file card container-fluid p-0 mb-2">
        <div class="text-center row py-0 no-gutters">
          <div class="col-md-3">
            <!--<img  class="card-img-top my-0" src="../../../assets/themes/materia/images/Upload-Document.png">-->
            <div class="form-search ml-2 mb-2">
              <input class="form-control ng-pristine ng-valid ng-touched"
                     id="inputFilter"
                     name="inputFilter"
                     placeholder="Buscar..."
                     type="text"
                     (focus)="statusOpenSmart = true"
                     (blur)="selectedSupply ? statusOpenSmart = true : statusOpenSmart = false"
                     [(ngModel)]="filterSupply"
                     #filter="ngModel">
              <i class="icon-search"></i>
            </div>
            <div class="col-md-12" *ngIf="filterSupply.length > 2 && statusOpenSmart"
                 style=" overflow-y: auto;
                      overflow-x: hidden;
                      height: auto;
                      max-height: 378px;
                      z-index: 9999;
                      position: absolute;
                      background-color: white;
                      padding: 10px;
                      border: 1px solid #f0f0f0;
                      border-radius: 5px;">
              <div class="row" style="list-style: none; padding-left: 0;" (mouseover)="selectedsupply = true"
                   (mouseout)="selectedsupply = false">
                <div class=" d-flex align-items-center col-12" *ngFor="let supply of getSupplies(filterSupply)">
                  <div class="col-3 p-0">
                    <img alt="Card image cap"
                         style="width: 90px;
                                height: 50px;
                                margin-left: -8px;"
                         src="../../../assets/themes/materia/images/image.png">
                  </div>
                  <div class="col-7"><span>{{supply.name}}</span></div>
                  <div class="col-2">
                     <span class="btn btn-circle btn-primary btn-small">
                       <i class="mdi mdi-plus" (click)="selectSupply(supply)"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="filtersupply.length > 2 && statusOpenSmart && getsupplys(filtersupply).length === 0"
                 style=" overflow-y: auto;
                      overflow-x: hidden;
                      max-height: 100px;
                      z-index: 9999;
                      position: absolute;
                      background-color: white;
                      padding: 15px;
                      border: 1px solid #f0f0f0;
                      border-radius: 5px;
                      min-width: 600px;">
              <ul style="list-style: none">
                No se encontraron coincidencias
              </ul>
            </div>

          </div>
          <div class="col-md-9 ">
            <div class="row c-text">
              <!--<div class="col-md-1"></div>-->
              <div class="col-md-2"> Stock</div>
              <div class="col-md-2"> Cantidad</div>
              <div class="col-md-2"> Precio</div>
              <div class="col-md-2"> Sub Total</div>
              <div class="col-md-2"> Tipo</div>
              <div class="col-md-2"> Acción</div>
            </div>
          </div>
        </div>
      </div>


      <div>
        <div class="upload-file card container-fluid p-0 mb-2"
             *ngFor="let detail of invoice.consultationDetails; let i = index">
          <div class="row py-0 no-gutters">
            <div class="col-md-3">

              <div class="row">
                <div class="col-md-4">
                  <img class="img-graph my-0" src="../../../assets/themes/materia/images/item1.jpg">
                </div>
                <div class="col-md-8">
                  <p class="pt-3 pb-3 mb-0 mt-1">{{detail.supply?.name}}</p>
                </div>
              </div>
            </div>
            <div class="col-md-9 text-center size-icon">
              <div class="row p-0 pt-3 pb-2 mb-0">
                <!--<div class="col-md-1"></div>-->
                <div class="col-md-2 c-price">{{detail.supply?.inventory ? detail.supply?.stock : 'ilimitado'}}</div>
                <div class="col-md-2">

                  <div class="box-quantity">
                    <div class="number-input full-field">
                      <i class="icon-minus-circle"
                         onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                         (click)="decreaseQuantity(detail)"></i>
                      <input class="quantity" min="0" [max]="detail.supply?.stock" name="quantity" value="1"
                             type="number"
                             [(ngModel)]="detail.quantity">
                      <i class="icon-plus-circle"
                         onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                         (click)="increaseQuantity(detail, detail.supply?.stock)"></i>
                    </div>
                  </div>

                </div>
                <div class="col-md-2 c-price">{{detail.supply?.salePrice | number: '2.2'}} Bs.</div>
                <div class="col-md-2 c-price">{{(detail.quantity * detail.supply.salePrice) - ((detail.quantity *
                  detail.supply.salePrice)*(detail.supply.discount / 100)) | number: '2.2'}} Bs.
                </div>
                <div class="col-md-2">
                  <span class="tipo-toggle" style="font-size: 12px;">Mesa</span>
                  <span>
                  </span>
                </div>
                <div class="col-md-2 "><i class="icon-trash-2" (click)="detelesupply(detail)"></i></div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div [hidden]="invoice.consultationDetails.length === 0">

        <div class="upload-file card container-fluid p-0 mb-2 bg-primary">
          <div class="row py-0 no-gutters">
            <div class="offset-md-4 col-md-8">
              <div class="row p-0 p-2 mb-0">
                <div class="col-md-6 pr-5 pt-1 c-text size-text-total text-right">
                  <b class="pr-5">TOTAL:</b>
                </div>
                <div class="col-md-6 c-price size-number-total">{{getTotalAmount(invoice)}}</div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 text-right">
            <button class="btn btn-primary"
                    type="button"
                    (click)="generateInvoice(invoice, delibery.checked)">
              Crear Consulta
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #modalBox>

  <form class="mb-0" (ngSubmit)="submitBox(form)" #form="ngForm">
    <div class="modal-header">
      <h4 class="modal-title">
        ABRIR CAJA
      </h4>
    </div>

    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="form-group">

              <label for="name">Nombre</label>
              <input type="text"
                     name="name"
                     id="name"
                     class="form-control"
                     maxlength="50"
                     minlength="5"
                     #name="ngModel"
                     ngModel
                     required/>
              <div class="form-text text-danger" *ngIf="name.invalid && name.dirty">
                <small *ngIf="name.hasError('required')">
                  Nombre es requerido.
                </small>
                <small *ngIf="name.hasError('minlength')">
                  Nombre debe tener al menos 5 catacteres.
                </small>
                <small *ngIf="name.hasError('maxlength')">
                  Nombre puede tener más de 50 caracteres.
                </small>
              </div>

              <label for="openingNote">Nota de Apertura</label>
              <input type="text"
                     name="openingNote"
                     id="openingNote"
                     class="form-control"
                     maxlength="50"
                     minlength="5"
                     #openingNote="ngModel"
                     ngModel
                     required/>
              <div class="form-text text-danger" *ngIf="openingNote.invalid && openingNote.dirty">
                <small *ngIf="openingNote.hasError('required')">
                  Nota de Apertura es requerido.
                </small>
                <small *ngIf="openingNote.hasError('minlength')">
                  Nota de Apertura debe tener al menos 5 catacteres.
                </small>
                <small *ngIf="openingNote.hasError('maxlength')">
                  Nota de Apertura puede tener más de 50 caracteres.
                </small>
              </div>

              <label for="openingAmount">Monto de Apertura Bs.</label>
              <input type="number"
                     name="openingAmount"
                     id="openingAmount"
                     class="form-control"
                     min="0"
                     #openingAmount="ngModel"
                     ngModel
                     required/>
              <div class="form-text text-danger" *ngIf="openingAmount.invalid && openingAmount.touched">
                <small *ngIf="openingAmount.hasError('required')">
                  Monto es requerido.
                </small>
              </div>

              <label for="type">Tipo</label>
              <input type="text"
                     name="type"
                     id="type"
                     class="form-control"
                     maxlength="50"
                     minlength="5"
                     #type="ngModel"
                     ngModel
                     required/>
              <div class="form-text text-danger" *ngIf="type.invalid && type.dirty">
                <small *ngIf="type.hasError('required')">
                  Tipo es requerido.
                </small>
                <small *ngIf="type.hasError('minlength')">
                  Tipo debe tener al menos 5 catacteres.
                </small>
                <small *ngIf="type.hasError('maxlength')">
                  Tipo puede tener más de 50 caracteres.
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary btn-icon-space mr-2" type="submit" [disabled]="form.invalid">
        <i class="icon-file-text"></i> Abrir
      </button>
      <button class="btn btn-secondary btn-icon-space" type="button" (click)="closeModal()">
        <i class="icon-x"></i> Cancelar
      </button>
    </div>
  </form>

</ng-template>


<ng-template #modalCloseBox>

  <form class="mb-0" (ngSubmit)="submitCloseBox(formClose)" #formClose="ngForm">
    <div class="modal-header">
      <h4 class="modal-title">
        CERRAR CAJA
      </h4>
    </div>

    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Nota de Cierre</label>
              <input type="text"
                     name="closingNote"
                     id="closingNote"
                     class="form-control"
                     ngModel>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label>Monto de Perida</label>
              <input type="text"
                     name="lossAmount"
                     id="lossAmount"
                     class="form-control"
                     ngModel>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary btn-icon-space mr-2" type="submit">
        <i class="icon-file-text"></i> Cerrar
      </button>
      <button class="btn btn-secondary btn-icon-space" type="button" (click)="closeModal()">
        <i class="icon-x"></i> Cancelar
      </button>
    </div>

  </form>

</ng-template>
