<div class="container-fluid no-paddings">
  <div class="row no-gutters">
    <div class="col-md-4 login-side">

      <div class="login-side-container" [hidden]="!hiddenResetPassword">
        <img class="logo mb-5" src="../../../assets/themes/materia/images/kraken-foods.svg"/>
        <ngb-alert *ngIf="authenticationError" type="danger" (close)="authenticationError = false">{{ alertMessage }}</ngb-alert>
        <form role="form" (ngSubmit)="login()" #loginForm="ngForm">
          <fieldset>
            <div class="form-group">
              <input type="text" id="username" class="form-control" autocomplete="off" placeholder="Nombre de Usuario"
                     required minlength="3" maxlength="50"
                     name="username" [(ngModel)]="username"
                     #name="ngModel" >
            </div>
            <div class="form-group">
              <input type="password" id="password" class="form-control" placeholder="Password"
                     required minlength="4" maxlength="50"
                     name="password" [(ngModel)]="password"
                     #idpassword="ngModel" >
            </div>
            <button type="submit" class="btn btn-primary mt-3"
                    [disabled]="!loginForm.form.valid">INGRESAR</button>
          </fieldset>
        </form>
        <!--<label>o ingresa mediante:-->
          <!--<button type="submit" class="btn btn-circle btn-facebook"><i class="mdi mdi-facebook"></i></button>-->
          <!--<button type="submit" class="btn btn-circle btn-google"><i class="mdi mdi-google-plus"></i></button>-->
        <!--</label>-->
        <!--<p>Aún no tengo cuenta. <a class="btn btn-link">Regístrame</a></p>-->
        <!--<p><a href="javascript:void(0)" class="btn btn-link" (click)="onResetPassword()">He olvidado mi password</a></p>-->
        <p class="msg-contacto alert alert-info">
          Contáctos a <strong>contacto@kraken.bo</strong><br/>
          <small>Telefono: +591 2 224-1693 +591 2 222-9901</small>
        </p>
      </div>

      <div class="login-side-container" [hidden]="hiddenResetPassword">
        <img class="logo" src="../../../assets/themes/materia/images/Logo.png"/>
        <p>Para recuperar tu password necesitaremos tu dirección de correo electrónico, de esta forma te enviaremos un
          mail con las instrucciones que debes seguir:</p>
        <form>
          <fieldset>
            <div class="form-group">
              <input type="text" class="form-control" id="exampleInputuser2" placeholder="E-mail">
            </div>
            <button type="submit" class="btn btn-primary">RECUPERAR MI PASSWORD</button>
          </fieldset>
        </form>
        <p>Ya tengo una cuenta, quiero <a href="javascript:void(0)" class="btn btn-link" (click)="onResetPassword()">ingresar</a>
        </p>
      </div>

    </div>
    <div class="col-md-8 login-content">

      <div class="carousel-container carousel-fade">
        <ngb-carousel [interval]="15000">
          <ng-template ngbSlide>
            <div class="carousel-caption">
              <h1>¡Vende! y déjanos facturar</h1>
              <p>El mejor sistema de facturación de Bolivia</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="carousel-caption">
              <h1>Para quién es kraken</h1>
              <p>Planes para todo y todos</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="carousel-caption">
              <h1>Facturación como servicio</h1>
              <p>0 Papeles, 0 impresiones, todo en la nube</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="carousel-caption">
              <h1>Nuestra propuesta</h1>
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <button type="button" class="button-close" aria-label="Close" (click)="d">
      <i class="mdi mdi-close"></i>
  </button>
  <div class="modal-body container">
    <div class="row no-gutters">
      <div class="col-md-6 box-container">
        <h2 class="modal-title">Ver Factura</h2>
        <p>Ingresa el número de Factura para que puedas verla o descargarla. Ese nümero esta impreso en la parte superior de tu factura como muestra la imagen.</p>
        <div class="form-group">
          <input type="text" id="disabledTextInput" class="form-control" placeholder="Nümero de Factura" value="">
        </div>
        <button type="button" class="btn btn-primary" (click)="c">BUSCAR</button>
      </div>
      <div class="col-md-6">
        <img width="100%" height="100%" src="../../../assets/themes/materia/images/Help-Search.png" alt="">
      </div>
    </div>
  </div>
</ng-template>
