<div class="table-pagination">

  <elastic-page-header [height]="'146px'" background="url(/assets/img/demo/headers/pattern-3.jpeg)"
                       [reverse]="true"></elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Lista de Inventarios'" [names]="['Inventario']"
                         [header]="'primary'"></elastic-breadcrumbs>

    <div class="mat-elevation-z8">

      <div class="header">
        <span class="btn-options pull-right">
          <a class="btn btn-sm btn-outline-secondary btn-icon-space"
             (click)="openModal(modal)">
            <i class="icon-user-plus"></i> Crear Inventario</a>
        </span>
      </div>

      <app-table
        [data]="data"
        [headers]="headersColumns"
        [total]="totalData"
        [pageSize]="pageSize"
        [page]="page"
        (clickPagination)="clickPagination($event)"
        (clickSort)="clickSort($event)"
        (clickButton)="clickButton($event)">
      </app-table>

    </div>
  </div>
</div>


<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title">Agregar  Inventario</h4>
  </div>
  <div class="modal-body">
  </div>


  <form (ngSubmit)="submit(form)" #form="ngForm">

    <div class="row container">


      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="tipocontrato">Nombre de Insumo:</label>
          <br>

          <select name="tipocontrato" id="tipocontrato" class="form-control">

            <option>Venda</option>

            <option>Iboprofemo</option>

            <option selected>Paracetamol</option>

          </select>

        </div>
      </div>



      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="cantidad">Cantidad a Dejar:</label>
          <input id="cantidad"
                 name="cantidad"
                 type="number"
                 class="form-control"
                 [ngModel]="actividadCivica?.cantidad"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="proveedor">Personal que deja:</label>
          <br>

          <select name="proveedor" id="proveedor" class="form-control">

            <option>Edwin Vargas</option>

            <option>Sub directora</option>

            <option selected>otros personales</option>

          </select>

        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success">
        Guardar
      </button>

    </div>

  </form>


</ng-template>












<ng-template #modalRegistryDetails>
  <div class="modal-header">
    <h4 class="modal-title">DETALLE DE REGISTRO</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table">
      <thead>
      <tr>
        <th style="border-top:0;">Nombre Producto</th>
        <th style="border-top:0;">Cantidad</th>
        <th style="border-top:0;">Precio</th>
        <th style="border-top:0;">Detalle</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let detail of registryDetails">
        <td>{{detail?.product.name}}</td>
        <td>{{detail.quantity}}</td>
        <td>{{detail.price | number: '2.2'}} Bs.</td>
        <td>{{detail.detail}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>
