<div class="sidebar-wrapper">
  <div class="perfil-user text-center">
    <div class="vertical-align-content">
      <a routerLink="setting" class="img-user logo-label">
      <span class="img-circle d-inline-block">
        <span class="img-user-label">Editar</span>
        <img class="img-circle" src="../../../assets/themes/materia/images/logo-company.png"/>
      </span>
      </a>
      <a routerLink="profile">
        <div class="img-user">
        <span class="img-circle">
          <span class="img-user-label">Editar</span>
          <img class="img-circle" src="../../../assets/themes/materia/images/Avatar-User.png"/>
        </span>
        </div>
        <h5 style="padding: 5px;">{{user?.firstName}} {{user?.lastName}}</h5>
        <strong>{{user?.company?.name}}</strong><br/>
        <label>{{user?.role.name || ''}}</label>
      </a>

      <br/>
      <strong>Sucursal</strong>
      <!--<select class="form-control"
              name="branchFilter"
              [(ngModel)]="branchFilter"
              (change)="changeIdBranch(branch.value)"
              #branch
              style="width: 150px; margin-left: 50px;">
        <option *ngFor="let branch of branchs" [value]="branch.id">
          <small>{{branch.name}}</small>
        </option>
      </select>-->
      <select class="form-control"
             name="branchFilter"
             [(ngModel)]="branchFilter"
             (change)="changeIdBranch(branch.value)"
             #branch
             style="width: 150px; margin-left: 50px;">
        <option value="1">
          suscursal 1
        </option>
        <option value="2">
          suscursal 1
        </option>
        <option value="3">
          suscursal 1
        </option>
      </select>


    </div>
  </div>
  <div class="cloud-pattern" style="margin-top: 45px;"></div>
  <div class="main-menu text-center" style="margin-top: 45px;">

    <a routerLink="/invoice" class="btn btn-primary btn-suggest" (click)="clearInvoice()"
       *ngIf="buttonEmitirFacturas">
      <i class="mdi mdi-calculator"></i> COMENZAR
    </a>

    <ul class="nav flex-column text-left">
      <li *ngFor="let menu of menus" class="nav-item">
        <div *ngIf="menu.subMenu === null; then option1 else option2"></div>

        <ng-template #option1>
          <a routerLink="{{menu.url}}" class="nav-link" [routerLinkActive]="['active']">
            <i class="{{menu.icon}}"></i>
            {{menu.name}}
          </a>
        </ng-template>

        <ng-template #option2>
          <a (click)="menu.collapse = !menu.collapse" [attr.aria-expanded]="!menu.collapse" aria-controls="collapse"
             class="nav-link">
            <i class="{{menu.icon}}"></i>
            {{menu.name}}
            <i [ngClass]="menu.collapse ? 'icon-plus-circle' : 'icon-minus-circle'" class="icon-float-right"></i>
          </a>
          <ul class="sub-nav" [id]="menu.name" [ngbCollapse]="menu.collapse">
            <li *ngFor="let subMenu  of menu.subMenu" class="nav-item">
              <a routerLink="{{subMenu.url}}" class="nav-link" [routerLinkActive]="['active']">
                <i class="{{subMenu.icon}}"></i>
                {{subMenu.name}}
              </a>
            </li>
          </ul>
        </ng-template>
      </li>
    </ul>

  </div>
  <div class="cloud-pattern-1"></div>
  <label class="nit-label">
    <img class="logo-version" src="assets/themes/materia/images/logo-kraken-version.png">
    <small class="mt-1">v{{applicationVersion}}</small>
  </label>
  <div class="logout-user">
    <a href="javascript:void(0)" (click)="logout()" class=""><i class="icon-cloud-off"></i> Cerrar sesión</a>
  </div>
</div>
