<div class="table-pagination">

  <elastic-page-header [height]="'146px'" background="url(/assets/img/demo/headers/pattern-3.png)"
                       [reverse]="true"></elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Lista de Atendidos'" [names]="['Pacientes']"
                         [header]="'primary'"></elastic-breadcrumbs>

    <div class="mat-elevation-z8">

      <div class="header">
        <span class="btn-options pull-right">
          <a class="btn btn-sm btn-outline-secondary btn-icon-space"
             (click)="openModal(modal)">
            <i class="icon-user-plus"></i> Crear Paciente</a>
        </span>
      </div>

      <app-table
        [data]="data"
        [headers]="headersColumns"
        [total]="totalData"
        [pageSize]="pageSize"
        [page]="page"
        (clickPagination)="clickPagination($event)"
        (clickSort)="clickSort($event)"
        (clickButton)="clickButtonRow($event)">
      </app-table>

    </div>
  </div>
</div>

<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title">Crear Paciente</h4>
  </div>

  <form (ngSubmit)="submit(form)" #form="ngForm">

    <div class="row container">

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="cronograma">Cronograma</label>
          <input id="cronograma"
                 name="cronograma"
                 type="text"
                 class="form-control"
                 [ngModel]="actividadCivica?.cronograma"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="descripcion">Descripcion</label>
          <input id="descripcion"
                 name="descripcion"
                 type="text"
                 class="form-control"
                 [ngModel]="actividadCivica?.descripcion"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="fecha">Fecha</label>
          <input id="fecha"
                 name="fecha"
                 type="text"
                 class="form-control"
                 [ngModel]="actividadCivica?.fecha"/>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="nombre">Nombre</label>
          <input id="nombre"
                 name="nombre"
                 type="string"
                 class="form-control"
                 [ngModel]="actividadCivica?.nombre"/>
        </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">
          Cancelar
        </button>
        <button type="submit" class="btn btn-primary">
          Crear
        </button>
      </div>

    </div>

  </form>
</ng-template>
