<div class="table-pagination">

  <elastic-page-header [height]="'146px'" background="url(/assets/img/demo/headers/pattern-3.jpeg)"
                       [reverse]="true"></elastic-page-header>

  <div class="container">

    <elastic-breadcrumbs [currentPage]="'Detalles de Insumo'" [names]="['Pacientes']"
                         [header]="'primary'"></elastic-breadcrumbs>

    <div class="mat-elevation-z8">

      <div class="header">
        <span class="btn-options pull-right">
          <a class="btn btn-sm btn-outline-secondary btn-icon-space"
             (click)="openModal(modal)">
            <i class="icon-user-plus"></i> Crear Nuevo Detalle de Insumo</a>
        </span>
      </div>

      <app-table
        [data]="data"
        [headers]="headersColumns"
        [total]="totalData"
        [pageSize]="pageSize"
        [page]="page"
        (clickPagination)="clickPagination($event)"
        (clickSort)="clickSort($event)"
        (clickButton)="clickButtonRow($event)">
      </app-table>

    </div>
  </div>
</div>


<ng-template #modal>
  <div class="modal-header">
    <h4 class="modal-title">Crear Insumo</h4>
  </div>

  <form (ngSubmit)="submit(form)" #form="ngForm">

    <div class="row container">

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="tipoatencion">Pedido de Insumo De Enfermeria:</label>
          <br>
          <select name="tipoatencion" id="tipoatencion" class="form-control">
            <option>Venda</option>
            <option>Paracetamol</option>
            <option selected>Ambroterol</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mb-3">
          <label for="cantidad">Cantidad Adquerida:</label>
          <input id="cantidad"
                    name="cantidad"
                    rows="15" cols="30"
                    type="number"
                    placeholder='Eje. Pedido del paciente..'
                    class="form-control"
                    [ngModel]="actividadCivica?.cantidad"/>

        </div>
      </div>





    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        Cancelar
      </button>
      <button type="submit" class="btn btn-success">
        Guardar
      </button>
    </div>

  </form>
</ng-template>
