<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
  <div class="list-group" style="background: #252e4f;">
    <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>Usuario
    </a>
    <div class="list-group" style="background: #252e4f;">

      <div class="nested-menu">
        <a class="list-group-item" (click)="isCollapsedDatosAcademicos = !isCollapsedDatosAcademicos"
           [attr.aria-expanded]="!isCollapsedDatosAcademicos" aria-controls="collapse">
          <span><i class="fa fa-plus"></i>Historia Clinica</span>
        </a>
        <ul [ngbCollapse]="isCollapsedDatosAcademicos" class="submenu">
          <li>
            <a href="javascript:void(0)" [routerLink]="['/materia']" [routerLinkActive]="['router-link-active']">
              <span>Lista de Historial</span></a>
          </li>
        </ul>
      </div>

      <div class="nested-menu">
        <a class="list-group-item" (click)="isCollapsedDatosAcademicos = !isCollapsedDatosAcademicos"
           [attr.aria-expanded]="!isCollapsedDatosAcademicos" aria-controls="collapse">
          <span><i class="fa fa-plus"></i>Inventario</span>
        </a>
        <ul [ngbCollapse]="isCollapsedDatosAcademicos" class="submenu">
          <li>
            <a href="javascript:void(0)" [routerLink]="['/materia']" [routerLinkActive]="['router-link-active']">
              <span>Lista de Inventario</span></a>
          </li>
        </ul>
      </div>

      <div class="nested-menu">
        <a class="list-group-item" (click)="isCollapsedDatosAcademicos = !isCollapsedDatosAcademicos"
           [attr.aria-expanded]="!isCollapsedDatosAcademicos" aria-controls="collapse">
          <span><i class="fa fa-plus"></i>Material</span>
        </a>
        <ul [ngbCollapse]="isCollapsedDatosAcademicos" class="submenu">
          <li>
            <a href="javascript:void(0)" [routerLink]="['/materia']" [routerLinkActive]="['router-link-active']">
              <span>Lista de Material</span></a>
          </li>
        </ul>
      </div>

      <div class="nested-menu">
        <a class="list-group-item" (click)="isCollapsedDatosAcademicos = !isCollapsedDatosAcademicos"
           [attr.aria-expanded]="!isCollapsedDatosAcademicos" aria-controls="collapse">
          <span><i class="fa fa-plus"></i>Pacientes</span>
        </a>
        <ul [ngbCollapse]="isCollapsedDatosAcademicos" class="submenu">
          <li>
            <a href="javascript:void(0)" [routerLink]="['/materia']" [routerLinkActive]="['router-link-active']">
              <span>Lista de Pacientes</span></a>
          </li>
        </ul>
      </div>

      <div class="nested-menu">
        <a class="list-group-item" (click)="isCollapsedDatosAcademicos = !isCollapsedDatosAcademicos"
           [attr.aria-expanded]="!isCollapsedDatosAcademicos" aria-controls="collapse">
          <span><i class="fa fa-plus"></i>Personal</span>
        </a>
        <ul [ngbCollapse]="isCollapsedDatosAcademicos" class="submenu">
          <li>
            <a href="javascript:void(0)" [routerLink]="['/materia']" [routerLinkActive]="['router-link-active']">
              <span>Personal Administrativo</span></a>
          </li>
        </ul>
      </div>

      <div class="nested-menu">
        <a class="list-group-item" (click)="isCollapsedDatosAcademicos = !isCollapsedDatosAcademicos"
           [attr.aria-expanded]="!isCollapsedDatosAcademicos" aria-controls="collapse">
          <span><i class="fa fa-plus"></i>Reportes</span>
        </a>
        <ul [ngbCollapse]="isCollapsedDatosAcademicos" class="submenu">
          <li>
            <a href="javascript:void(0)" [routerLink]="['/materia']" [routerLinkActive]="['router-link-active']">
              <span>Lista de Reportes</span></a>
          </li>
        </ul>
      </div>

      <div class="nested-menu">
        <a class="list-group-item" (click)="isCollapsedDatosAcademicos = !isCollapsedDatosAcademicos"
           [attr.aria-expanded]="!isCollapsedDatosAcademicos" aria-controls="collapse">
          <span><i class="fa fa-plus"></i>Roles</span>
        </a>
        <ul [ngbCollapse]="isCollapsedDatosAcademicos" class="submenu">
          <li>
            <a href="javascript:void(0)" [routerLink]="['/materia']" [routerLinkActive]="['router-link-active']">
              <span>Lista de Roles</span></a>
          </li>
          <li>
            <a href="javascript:void(0)" [routerLink]="['/materia']" [routerLinkActive]="['router-link-active']">
              <span>Asignar Rol</span></a>
          </li>
        </ul>
      </div>

      <div class="nested-menu">
        <a class="list-group-item" (click)="isCollapsedDatosAcademicos = !isCollapsedDatosAcademicos"
           [attr.aria-expanded]="!isCollapsedDatosAcademicos" aria-controls="collapse">
          <span><i class="fa fa-plus"></i>Usuarios</span>
        </a>
        <ul [ngbCollapse]="isCollapsedDatosAcademicos" class="submenu">
          <li>
            <a href="javascript:void(0)" [routerLink]="['/user']" [routerLinkActive]="['router-link-active']">
              <span>Lista de Usuarios</span></a>
          </li>
        </ul>
      </div>

      <div class="nested-menu">
        <a class="list-group-item" (click)="isCollapsedDatosAcademicos = !isCollapsedDatosAcademicos"
           [attr.aria-expanded]="!isCollapsedDatosAcademicos" aria-controls="collapse">
          <span><i class="fa fa-plus"></i>Cerrar Sesion</span>
        </a>
        <ul [ngbCollapse]="isCollapsedDatosAcademicos" class="submenu">
          <li>
            <a href="javascript:void(0)" [routerLink]="['/materia']" [routerLinkActive]="['router-link-active']">
              <span>Cerrar</span></a>
          </li>
        </ul>
      </div>


    </div>
  </div>
</nav>
