<div class="document-content">

  <h3>
    <button routerLink="/pages/product" class="btn-icon icon-title" type="submit" placement="bottom"
            style="border: none; background: none; cursor: pointer;">
      <i class="icon-arrow-left"></i>
    </button>
    INGRESAR PRODUCTO
  </h3>

  <form (ngSubmit)="submit(form)" #form="ngForm">
    <div class="document-box container-fluid ">
      <div class="cards-box row bg-box-card p-6">
        <div class="col-12">

          <div class="row">
            <div class="col-12">
              <h4>Información Básica</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-4 text-center">
              <form>
                <div class="image-profile-container">
                  <img alt="Card image cap" class="" src="../../../assets/themes/materia/images/image.png">
                  <button class="btn btn-primary btn-small btn-circle"><i class="mdi mdi-pencil"></i></button>
                </div>
              </form>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Categoría</label>
                <mat-form-field>
                  <mat-select ngModel
                              id="category"
                              name="category"
                              #role="ngModel"
                              required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let category of categories" [value]="category">{{category.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="role.hasError('required')">Debe seleccionar una categoria.</mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Precio de Venta</label>
                <input type="number"
                       class="form-control"
                       placeholder="0"
                       name="salePrice"
                       autocomplete="off"
                       id="salePrice"
                       ngModel
                       #salePrice="ngModel"
                       required>
                <small *ngIf="salePrice.hasError('required') && salePrice.touched" class="text-danger">
                  Debe ingresar un valor.
                </small>
                <small *ngIf="salePrice.value <= 0 && salePrice.dirty && salePrice.value != null" class="text-danger">
                  Debe ingresar un valor mayor a 0.
                </small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4 mt-2 text-center">
              <p class="alert alert-info alert-sm"><i class="mdi mdi-info"></i> Tamaño de Foto recomendado:<br>100px x 60px</p>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Nombre de producto</label>
                <input type="text"
                       class="form-control"
                       placeholder="Ejm. Coca Cola"
                       name="name"
                       id="name"
                       ngModel
                       #name="ngModel"
                       minlength="3"
                       autocomplete="off"
                       required>
                <small *ngIf="name.hasError('required') && name.touched" class="text-danger">
                  Debe ingresar un nombre.
                </small>
                <small *ngIf="name.hasError('minlength')" class="text-danger">
                  El nombre del producto debe tener al menos 3 caracteres.
                </small>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Precio de Mayoreo</label>
                <input type="number"
                       class="form-control"
                       placeholder="0"
                       name="wholesalePrice"
                       id="wholesalePrice"
                       ngModel
                       #wholesalePrice="ngModel"
                       autocomplete="off"
                       required>
                <small *ngIf="wholesalePrice.hasError('required') && wholesalePrice.touched" class="text-danger">
                    Debe ingresar un valor.
                  </small>
                  <small *ngIf="wholesalePrice.value <= 0 && wholesalePrice.dirty && wholesalePrice.value != null" class="text-danger">
                      Debe ingresar un valor mayor a 0.
                  </small>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label class="pb-2">Inventario</label>
                <span>No</span>
                  <mat-slide-toggle class="px-2" style="line-height: 14px;" (change)="submitInventory(inventory.checked)" #inventory></mat-slide-toggle>
                <span>Si</span>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Código de Barras</label>
                <input type="text"
                       class="form-control"
                       placeholder="0"
                       name="barcode"
                       autocomplete="off"
                       id="barcode"
                       ngModel>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Precio de Compra</label>
                <input type="number"
                       class="form-control"
                       placeholder="0"
                       name="purchasePrice"
                       id="purchasePrice"
                       ngModel
                       #purchasePrice="ngModel"
                       autocomplete="off"
                       required>
                <small *ngIf="purchasePrice.hasError('required') && purchasePrice.touched" class="text-danger">
                  Debe ingresar un valor.
                </small>
                <small *ngIf="purchasePrice.value <= 0 && purchasePrice.dirty && purchasePrice.value != null" class="text-danger">
                    Debe ingresar un valor mayor a 0.
                </small>
              </div>
            </div>
          </div>

          <hr class="my-3"/>

          <div class="row">
            <div class="col-12">
              <h4>Información Adicional</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Marca</label>
                <input type="text"
                       class="form-control"
                       placeholder="Coca Cola"
                       name="marke"
                       id="marke"
                       autocomplete="off"
                       ngModel>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Descuento </label>
                <input type="number"
                       class="form-control"
                       placeholder="0%"
                       name="discount"
                       id="discount"
                       ngModel
                       autocomplete="off"
                       #discount="ngModel">
                  <small *ngIf="discount.value <= 0 && discount.dirty && discount.value != null" class="text-danger">
                    Debe ingresar un valor mayor a 0.
                  </small>
              </div>
            </div>

            <div class="col-4">
              <div class="form-group">
                <label>Descripción</label>
                <input type="text"
                       class="form-control"
                       placeholder="Ejm. Sin azucar"
                       name="description"
                       autocomplete="off"
                       id="description"
                       ngModel>
              </div>
            </div>
          </div>

          <hr class="my-3"/>

          <div class="row">
            <div class="col-6 text-right">
              <button class="btn btn-secondary btn-icon-space" type="button" routerLink="/pages/product">
                <i class="icon-x"></i> Cancelar
              </button>
            </div>

            <div class="col-6">
              <button class="btn btn-primary btn-icon-space" type="submit" [disabled]=form.invalid> <i class="mdi mdi-cart-plus"></i>AGREGAR</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>



</div>
