<div class="table-style" #table>
  <div [style.min-height]="minHeight">
    <table class="table">
      <thead>
      <tr style="box-sizing: border-box;">
        <th *ngIf="verifyResponsive()" style="width:10px"></th>
        <th *ngIf="internalNeedActionBox" class="checkbox_sele"></th>
        <th *ngIf="InternalShowReviewerMapping"></th>
        <ng-template ngFor let-item [ngForOf]="this.internalHeaders" let-i="index">
          <th class="cabeza"
              *ngIf="!item.responsive">
               <span class="update-sort" style="padding-left: 15px;">
               {{item.displayName}}
               </span>

            <span (click)="updateSort(item)" class="update-sort" *ngIf="item.canSort">
              <span *ngIf="item.canSort && column != item.name">
                <mat-icon svgIcon="sort" style="color: #303a4a; height: 30px; width: 30px;"></mat-icon>
              </span>
              <i class="fa fa-sort-amount-asc" aria-hidden="true"
                 *ngIf="item.canSort && column == item.name && !isDesc"></i>
              <i class="fa fa-sort-amount-desc" aria-hidden="true"
                 *ngIf="item.canSort && column == item.name && isDesc"></i>
               </span>
            <span *ngIf="item.canFilter"
                  [ngClass]="{
                  'icon-funnel1': item.statusFilter === false,
                  'icon-funnel2': item.statusFilter === true
                  }"
                  class="iconmoon icon-funnel filter"
                  (click)="clickFilterIcon(i)" style="cursor: pointer;text-align: left;">
               <i class="fa fa-filter" aria-hidden="true" style="color: #ffd775;"></i>
               </span>
            <div *ngIf="colFilterIndex == i" class="fitlerBox" style="text-align: left;">
              <app-filter-column
                [filterValue]="item.value"
                [filterName]="item.name"
                [pattern]="item.pattern"
                [optionsSelect]="item.optionsSelect?item.optionsSelect:null"
                [messageError]="item.messageError"
                (clickCloseFilter)="closeFilter()"
                (clickSubmit)="submitFilter($event)">
              </app-filter-column>
            </div>
          </th>
        </ng-template>
      </tr>
      </thead>

      <tbody>
      <ng-template ngFor let-item [ngForOf]="this.pagedItems" let-i="index">
        <tr class="tr-style" (click)="selectRow(item,i,$event)"
            [ngStyle]="{'background-color':selectedRow === i ? '#f0f0f0' : '' }">

          <td *ngIf="rowExpandIndex!==i && verifyResponsive()" style="width:10px">
            <i class="fa fa-plus-circle collapsable_btn glyphicon glyphicon-plus"
               aria-hidden="true"
               style="font-size: 22px; background: #6f6f6f; color: white;"
               (click)="ShowExpand(i)"></i>
          </td>

          <td *ngIf="rowExpandIndex==i && verifyResponsive()" style="width:10px">
            <i class="fa fa-minus-circle collapsable_btn glyphicon glyphicon-minus"
               aria-hidden="true"
               style="font-size: 22px; background: #6f6f6f; color: white;"
               (click)="ShowExpandMinus()"></i>
          </td>

          <td *ngIf="internalNeedActionBox">
            <div *ngIf="queueType == 'assigned'; then opChkbox1"></div>
            <div *ngIf="queueType == 'team'; then opChkbox2"></div>
            <ng-template #opChkbox1>
              <label class="control control--checkbox actionboxwrap" (click)="$event.stopPropagation()">
                <input type="checkbox" [(checked)]="item.IsChecked" [disabled]="item.IsMapped">
                <span class="control__indicator"></span>
              </label>
            </ng-template>
            <ng-template #opChkbox2>
              <div class="mapboxwrap" (click)="$event.stopPropagation()">
                <label class="control control--checkbox ">
                  <input type="checkbox" [(checked)]="item.IsChecked" [disabled]="item.IsMapped">
                  <span class="control__indicator"></span>
                </label>
                <div class="mapbox" *ngIf="item.IsMapped">
                  <div *ngIf="queueType == 'team'; then opMapbox2"></div>

                  <ng-template #opMapbox2>
                    <p>Re-Assignment:</p>
                    <div class="col-md-12" style="width:350px">
                      <div class="col-md-6 ReasignTitles">Currently Assigned:</div>
                      <div class="col-md-6 ReasignTitles">Re-mapped to:</div>

                      <div class="col-md-6 reviewer-info">
                        <div class="reviewer-pic">
                          <!--<img [src]="getImage(item.firstReviewer.DMSID)">-->
                        </div>
                        <div class="reviewer-details">
                          <div class="rev-name">
                            <div>
                              <small>Mapped to</small>
                            </div>
                            {{item.firstReviewer.revieweFullName}} <br>
                            <small>({{item.firstReviewer.reviewerRol}})</small>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 reviewer-info">
                        <div class="reviewer-pic">
                          <!--<img [src]="getImage(item.reviewer.DMSID)">-->
                        </div>
                        <div class="reviewer-details">
                          <div class="rev-name">
                            <div>
                              <small>Mapped to</small>
                            </div>
                            {{item.reviewer.UserName}} <br>
                            <small>(Reviewer)</small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>

                </div>
              </div>
            </ng-template>
          </td>

          <td *ngIf="InternalShowReviewerMapping">
            <div>
              <label class="control control--checkbox actionboxwrap" (click)="$event.stopPropagation()">
                <input type="checkbox" [(checked)]="item.isChecked" [disabled]="item.IsMapped"
                       (change)="AssignCasesToCart($event,item)">
                <span class="control__indicator"></span>
              </label>
            </div>

            <div class="mapboxwrap" (click)="$event.stopPropagation()">
              <label class="control control--checkbox">
                <div *ngIf="item['CaseIndicator']!= null; then op1 else op2"></div>

                <ng-template #op1>
                  <input *ngIf="(item['CaseIndicator'].substring(0, 1) != 'W')" type="checkbox"
                         [(checked)]="item.IsChecked" [disabled]="item.IsMapped"
                         (change)="AssignCasesToCart($event,item.Number)">
                  <input *ngIf="(item['CaseIndicator'].substring(0, 1) == 'W')" type="checkbox" checked="checked"
                         disabled>
                </ng-template>

                <ng-template #op2>
                  <input type="checkbox" [(checked)]="item.IsChecked" [disabled]="item.IsMapped"
                         (change)="AssignCasesToCart($event,item.Number)">
                </ng-template>

                <!--<input *ngIf="(item['CaseIndicator'].substring(0, 1) != 'W')" type="checkbox" [(checked)]="item.IsChecked" [disabled]="item.IsMapped" (change)="AssignCasesToCart($event,item.Number)">
                 <input  *ngIf="(item['CaseIndicator'].substring(0, 1) == 'W') )" type="checkbox" checked="checked" [disabled]="disabled" (change)="AssignCasesToCart($event,item.Number)">-->
                <span class="control__indicator"></span>
              </label>
              <!--<div class="mapbox" *ngIf="item.IsMapped">
                <div *ngIf="queueType == 'unassigned'; then opMapbox1"></div>

                <ng-template #opMapbox1>
                  <div class="reviewer-info">
                    <div class="reviewer-pic">
                      &lt;!&ndash;<img [src]="getImage(item.reviewer.DMSID)">&ndash;&gt;
                    </div>
                    <div class="reviewer-details">
                      <div class="rev-name">
                        <div><small>Mapped to</small></div>
                        {{item.reviewer.UserName}} <small>(Reviewer)</small>
                      </div>
                    </div>
                  </div>
                </ng-template>

              </div>-->
            </div>
          </td>

          <ng-template ngFor let-col [ngForOf]="this.internalHeaders" let-i="index">
            <td *ngIf="!col.responsive">
              <app-field-type
                [type]="col.type"
                [value]="item[col.name]"
                (clickButton)="clickButtonRow(item,col,i,$event.event,$event.description)">
              </app-field-type>
            </td>
          </ng-template>
        </tr>

        <tr *ngIf="rowExpandIndex==i">
          <td style="width:10px"></td>
          <td colspan="5">
            <table>
              <ng-template ngFor let-col [ngForOf]="this.internalHeaders">
                <tr *ngIf="col.responsive">
                  <th width="40%" style="border: none; padding: 0px; margin: 0px;">
                  <span *ngIf="col.isVisible === undefined || col.isVisible == true"
                        style="margin: 0px;">
                    {{col.displayName}}:
                  </span>
                  </th>
                  <td style="border: none; padding: 0px; margin: 0px;">
                    <app-field-type
                      [type]="col.type"
                      [value]="item[col.name]"
                      (clickButton)="clickButtonRow(item,col,i,$event.event,$event.description)">
                    </app-field-type>
                  </td>
                </tr>
              </ng-template>
            </table>
          </td>
        </tr>

      </ng-template>
      </tbody>
    </table>

    <tfoot *ngIf="total === 0">
    <span style="font-family: Arial; font-size: 15px; text-align: center; padding-left: 20px;">
        No existen registros.
      </span>
    </tfoot>

  </div>
</div>

<div class="table_footer" *ngIf="total > 0">
  <div class="row">

    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 col-xl-4" *ngIf="viewPagesDates">
         <span class="label label-default">
         {{pager.currentPage}} de {{pager.totalPages}}, Registros Totales - {{pager.totalItems}}
         </span>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-8" [ngClass]="{'col-sm-12': !viewPagesDates, 'col-sm-8': viewPagesDates}">
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li>
          <button [disabled]="pager.currentPage === 1"
                  (click)="updatePagination(1)">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </button>
        </li>
        <li>
          <button [disabled]="pager.currentPage === 1"
                  (click)="updatePagination(pager.currentPage - 1)">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
          </button>
        </li>
        <li *ngFor="let page of pager.pages"
            [ngClass]="{active:pager.currentPage === page}">
          <button (click)="updatePagination(page)">
            {{page}}
          </button>
        </li>
        <li>
          <button [disabled]="pager.currentPage === pager.totalPages"
                  (click)="updatePagination(pager.currentPage + 1)">
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </button>
        </li>
        <li>
          <button [disabled]="pager.currentPage >= pager.totalPages"
                  (click)="updatePagination(pager.totalPages)">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
